html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

input#searchNFT {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 0;
  font-size: 20px; */
  outline: none;
  /* padding: 10px 20px; */
  /* text-align: left; */
  /* box-shadow: 0 0 0 2px #000000; */
  /* border-radius: 5px; */
  /* position: fixed; */
  /* left: 50%; */
  /* top: 25%; */
  /* transform: translate(-50%, -25%); */
}

input#searchNFT.dropdown {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#selector {
  position: fixed;
  box-shadow: 0 0 0 2px #000000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 2px;
  max-height: 150px;
  overflow: auto;
  z-index: 1;
}

#selector button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  display: block;
  background-color: #ffffff;
  margin: 0;
  border-radius: 5px;
  border-width: 0;
  width: 100%;
  text-align: left;
}

#selector button:hover {
  background-color: #f2f2f2;
}

/* horizontal slider */
#cardRow {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#carouselCard {
  /*float: left;*/
  max-width: 33.333%;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border: 0;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
}

#fetchedNFT {
  display: none;
}

#fetchedAdditionalNFT {
  display: none;
}

/* .x-card > img {
  margin-bottom: .75rem;
  width: 100%;
} */

/* .card-text {
  font-size: 85%;
} */
